{% extends "core/base.html" %}

{% block title %}Sign up | {% endblock %}

{% block content %}
    <h1 class="text-center">Sign up</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>
        {% if form.errors %}
            {% for field in form %}
                <div class="invalid-feedback">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock %}